body {
    font-family: 'Roboto Slab', serif;
    background-color: #DBE5E7;
    color: black !important;
}

:root {
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
    --card2-gradient-color1: #7F00FF;
    --card2-gradient-color2: #E100FF;
    --card3-gradient-color1: #3f2b96;
    --card3-gradient-color2: #a8c0ff;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
}




#welcome {
    font-family: 'Amatic SC', cursive;
    background: url("https://cdn.pixabay.com/photo/2017/05/15/09/47/silhouette-2314271_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: auto;
    height: 100vh;
    padding: 5% 5% 5% 5%;
}

#welcome h1,
#portfolio h1 {
    font-size: 70pt;
    font-weight: bold;
}

#welcome h3,
#portfolio h3 {
    font-size: 28pt;
}



/* ABOUT */

#about {
    background-color: #B8C9D0;
    padding: 5% 5% 5% 5%;
    height: fit-content;
    min-height: 100vh;
    width: auto;
}

#about h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
    font-weight: bold;
    text-align: left;
}

#about p {
    text-align: left;
}

#about #email img {
    text-align: left;
    width: 25px;
}

#email {
    background-color: #7F8FAE;
    padding: 2% 2% 2% 2%;
    border-radius: 40px;
    /* transition: box-shadow 0.5s, color 0.8s, background-color 0.5s; */
}

#self img {
    width: 70%;
    border: solid 8px #fff;
    border-radius: 2000px;
    box-shadow: 5px 15px 30px #fff;
    margin-top: 30px;
}



#portfolio {
    font-family: 'Amatic SC', cursive;
    background-color: #DBE5E7;
    text-decoration: none;
    color: white;
    padding: 5% 5% 5% 5%;
    width: auto;
    height: fit-content;
}

#portfolio h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 15pt;
}

#port img {
    width: 500px;
    opacity: 0.5;
    transition: opacity 0.5s, box-shadow 0.5s;
}

#port img:hover {
    opacity: 1;
    box-shadow: 0px 10px 50px #406D91;
    transition: opacity 0.5s, box-shadow 0.5s;
}



.card-wrap {
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #DBE5E7;
    overflow: hidden;
    color: var(--color-text);
}


.card-header {
    background: #fff !important;
    padding: 5px;
    align-items: center;
    margin-bottom: 1px;
    display: flex;
    width: 100%;

    i {
        font-size: 32px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.card-text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.card-btn {
    border: none;
    border-radius: 100px;
    padding: 5px 30px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}


/* CSS for coloring icons with brand colors */
.fa-css3-alt {
    color: #264de4;
    /* CSS3 */
}

.fa-html5 {
    color: #e34c26;
    /* HTML5 */
}

.fa-github {
    color: #181717;
    /* GitHub */
}

.fa-node-js {
    color: #339933;
    /* Node.js */
}

.fa-database {
    color: #4DB33D;
    /* MongoDB */
}

.fa-react {
    color: #61DBFB;
    /* React */
}

.fa-n {
    color: #000000;
    /* Next.js (note: Next.js doesn't have a specific color) */
}

.fa-vuejs {
    color: #42b883;
    /* Vue.js */
}

.fa-bootstrap {
    color: #563d7c;
    /* Bootstrap */
}

.fa-python {
    color: #306998;
    /* Python */
}

.fa-js {
    color: #f7df1e;
    /* JavaScript */
}


.visit-github {
    text-decoration: none;
    background-color: #7F8FAE;
    padding: 2% 2% 2% 2%;
    color: black !important;
    cursor: pointer;
    border-radius: 120px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    transition: all .2s ease-in-out;

    a {
        text-decoration: none;
        color: black;
    }

    i {
        font-size: 30px;
    }

    /* transition: box-shadow 0.5s, color 0.8s, background-color 0.5s; */
}

.visit-github:hover {
    transform: scale(1.1);
    background-color: #11998e;
    color: #fefefe;


    i,
    a {
        color: #fefefe;
    }
}